# VacationPy
----

#### A

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
city_csv_file = "City Weather Data.csv"
city_weather_df = pd.read_csv(city_csv_file)
city_weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Upernavik,72.7868,-56.1549,34.52,97,100,28.03,GL,1666472245
1,Harnai,30.1005,67.9374,68.22,23,0,4.05,PK,1666472245
2,Pec,42.6591,20.2883,59.13,51,15,6.24,XK,1666472245
3,Bluff,-46.6000,168.3333,56.80,69,26,10.47,NZ,1666472246
4,Dunedin,-45.8742,170.5036,55.80,74,6,1.01,NZ,1666471980

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
# Access maps with unique API key
gmaps.configure(api_key=gkey)

# Use the Lat and Lng as locations and Humidity as the weight.
# Remove rows missing data
city_weather_df = city_weather_df.dropna()
# convert humidity .astype float and store
humidity = city_weather_df["Humidity"].astype(float)
# max intensity in the heatmap based on highest humidity found in dataset
humidity_max = humidity.max()
# Store latitude and longitude in locations
locations = city_weather_df[['Lat', 'Lng']].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity_max,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
# new DataFrame to store narrowed down cities to fit weather conditions
narrow_city_df = city_weather_df

# set weather conditions
# max temperature < 85 and > 70
narrow_city_df = narrow_city_df.loc[(narrow_city_df['Max Temp'] < 85) & (narrow_city_df['Max Temp'] > 70)]
                                    
# wind speed less than 15 mph
narrow_city_df = narrow_city_df.loc[narrow_city_df['Wind Speed'] < 15]                            
                                    
# no clouds
narrow_city_df = narrow_city_df.loc[narrow_city_df['Cloudiness'] == 0]
                                     
# Remove rows missing data
narrow_city_df = narrow_city_df.dropna()

# reset index
narrow_city_df.reset_index(inplace=True)
del narrow_city_df['index']
                                     
narrow_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Harpālpur,25.2884,79.3347,72.18,57,0,1.95,IN,1666472250
1,Dwārka,22.2394,68.9678,81.93,50,0,10.16,IN,1666472254
2,Sirte,31.2089,16.5887,71.13,56,0,8.97,LY,1666472255
3,Bindki,26.0333,80.6000,70.41,66,0,3.60,IN,1666472257
4,Half Moon Bay,37.4636,-122.4286,72.41,61,0,14.97,US,1666472260
5,Mopti,14.6667,-4.0000,82.44,74,0,2.30,ML,1666472279
6,Chimoio,-19.1164,33.4833,71.46,94,0,3.87,MZ,1666472303
7,Sur,22.5667,59.5289,76.33,73,0,5.17,OM,1666472307
8,Venice,27.0998,-82.4543,82.98,57,0,1.01,US,1666472310
9,Nagrām,26.6167,81.1333,71.65,67,0,4.36,IN,1666472318
10,Verāval,20.9000,70.3667,80.53,53,0,9.53,IN,1666472330
11,Gainesville,29.6516,-82.3248,76.78,51,0,6.22,US,1666472195
12,Marovoay,-16.1000,46.6333,72.27,73,0,4.16,MG,1666472346
13,Comodoro Rivadavia,-45.8667,-67.5000,76.86,6,0,14.97,AR,1666472239
14,Tando Jam,25.4272,68.5362,80.89,25,0,7.83,PK,1666472353
15,Dakar,14.6937,-17.4441,82.53,83,0,2.30,SN,1666472357
16,Tartous,34.8890,35.8866,73.09,54,0,5.19,SY,1666472361
17,Dothan,31.2232,-85.3905,77.85,31,0,1.99,US,1666472119
18,Kiryat Gat,31.6100,34.7642,70.48,100,0,4.92,IL,1666472385
19,Riyadh,24.6877,46.7219,77.14,16,0,5.68,SA,1666472148
20,Moranbah,-22.0016,148.0466,73.22,65,0,1.03,AU,1666472415
21,Acarí,-15.4311,-74.6158,75.00,52,0,8.77,PE,1666472434
22,Winder,33.9926,-83.7202,74.79,33,0,0.00,US,1666472448
23,Bowen,-20.0167,148.2333,76.53,75,0,2.19,AU,1666472453
24,Fredericksburg,38.3032,-77.4605,73.02,43,0,6.91,US,1666472407
25,Turbat,26.0023,63.0440,78.75,47,0,4.59,PK,1666472466
26,Bānswāra,23.5500,74.4500,70.34,46,0,5.97,IN,1666472474
27,General Pico,-35.6566,-63.7568,70.38,15,0,7.38,AR,1666472477
28,Borazjan,29.2666,51.2159,79.97,43,0,2.37,IR,1666472483
29,Ducheng,23.2373,111.5317,70.59,57,0,2.01,CN,1666472484
30,Gladstone,-23.8500,151.2500,70.79,70,0,5.03,AU,1666472489

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# https://maps.googleapis.com/maps/api/place/nearbysearch/json
#   ?keyword=cruise
#   &location=-33.8670522%2C151.1957362
#   &radius=1500
#   &type=

In [32]:
hotel_df = narrow_city_df

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# set up a parameters dictionary
params = {
    "radius": 5000,
    "type": 'hotel',
    "key": gkey
}

for index, row in hotel_df.iterrows():
    # get latitude and longitude from the DataFrame
    latitude = row['Lat']
    longitude = row["Lng"]
    
    # add keyword to params dict
    params['location'] = f'{latitude}, {longitude}'
    
    # assemble url and make API request
    print(f'Retrieving Results for Index {index}: {row["City"]}.')
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Harpālpur.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: Dwārka.
Missing field/result... skipping.
------------
Retrieving Results for Index 2: Sirte.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: Bindki.
Missing field/result... skipping.
------------
Retrieving Results for Index 4: Half Moon Bay.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: Mopti.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: Chimoio.
Missing field/result... skipping.
------------
Retrieving Results for Index 7: Sur.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: Venice.
Missing field/result... skipping.
------------
Retrieving Results for Index 9: Nagrām.
Missing field/result... skipping.
------------
Retrieving Results for Index 10: Verāval.
Missing field/result... skipping.
------------
Retrieving Results for Index 11: Gainesville.
Missing field/result... skipping.
------------
Retrieving Results for Index 12: Marovoay.
Missing field/result... skipping.
------------
Retrieving Results for Index 13: Comodoro Rivadavia.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: Tando Jam.
Missing field/result... skipping.
------------
Retrieving Results for Index 15: Dakar.
Missing field/result... skipping.
------------
Retrieving Results for Index 16: Tartous.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: Dothan.
Missing field/result... skipping.
------------
Retrieving Results for Index 18: Kiryat Gat.
Missing field/result... skipping.
------------
Retrieving Results for Index 19: Riyadh.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: Moranbah.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: Acarí.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: Winder.
Missing field/result... skipping.
------------
Retrieving Results for Index 23: Bowen.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: Fredericksburg.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: Turbat.
Missing field/result... skipping.
------------
Retrieving Results for Index 26: Bānswāra.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: General Pico.
Missing field/result... skipping.
------------
Retrieving Results for Index 28: Borazjan.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: Ducheng.
Missing field/result... skipping.
------------
Retrieving Results for Index 30: Gladstone.
Missing field/result... skipping.
------------

In [33]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Harpālpur,25.2884,79.3347,72.18,57,0,1.95,IN,1666472250
1,Dwārka,22.2394,68.9678,81.93,50,0,10.16,IN,1666472254
2,Sirte,31.2089,16.5887,71.13,56,0,8.97,LY,1666472255
3,Bindki,26.0333,80.6000,70.41,66,0,3.60,IN,1666472257
4,Half Moon Bay,37.4636,-122.4286,72.41,61,0,14.97,US,1666472260

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig